alembic==0.8.6
altgraph==0.10.2
bdist-mpkg==0.5.0
click==6.6
dataset==0.6.4
Flask==0.11.1
gunicorn==19.6.0
itsdangerous==0.24
Jinja2==2.8
macholib==1.5.1
Mako==1.0.4
MarkupSafe==0.23
modulegraph==0.10.4
normality==0.2.4
py2app==0.7.3
pyparsing==2.0.1
python-dateutil==1.5
python-editor==1.0.1
pytz==2013.7
PyYAML==3.11
six==1.4.1
Werkzeug==0.11.10
xattr==0.6.4
zope.interface==4.1.1
