{% extends 'layouts/main.html' %}
{% block title %}Nomad{% endblock %}
{% block style %}
	<link type="text/css" rel="stylesheet" href="/static/css/events.css" />
{% endblock %}
{% block content %}
<div class="app-container">
	<div class="title-page">
		<h1 class="main-title">N o m a d</h1>
		<div id="initial-inputs">
		    <input id="location" type="text" name="location" placeholder="Location" />
		    <input id="duration" type="time" name="duration" placeholder="" />
		    <input id="explore" type="button" value="Explore" />
		</div>
	</div>
</div>
{% endblock %}