{% extends 'layouts/main.html' %}
{% block title %}Nomad{% endblock %}
{% block style %}
	<link type="text/css" rel="stylesheet" href="/static/css/events.css" />
	<link type="text/css" rel="stylesheet" href="/static/css/slick.css" />
{% endblock %}
{% block content %}
<div class="single-item">
	<div></div>
	<div></div>
	<div></div>
	<div></div>
	<div></div>
	<div></div>
	<div></div>
	<div></div>
</div>
{% endblock %}
{% block script %}
	<script type="text/javascript" src="/static/js/events.js" defer></script>
{% endblock %}