{% extends 'layouts/main.html' %}
{% block title %}Nomad{% endblock %}
{% block style %}
	<link type="text/css" rel="stylesheet" href="/static/css/home.css" />
{% endblock %}
{% block content %}
<div class="app-container">
	<div class="title-page">
		<h1 class="main-title">Nomad</h1>
		<div id="initial-inputs" class="form-input">
		    <input id="location" type="text" name="location" placeholder="Location" />
		    <input id="duration" type="time" name="duration" placeholder="" />
		    <textarea placeholder="Message" onkeyup="adjust_textarea(this)"></textarea>
		    <input type="button" value="Explore" id="exploreButton"/>
		</div>
	</div>
</div>
{% endblock %}