{% extends 'layouts/main.html' %}
{% block title %}Nomad{% endblock %}
{% block style %}
<link type="text/css" rel="stylesheet" href="/static/css/main.css" />
	<link type="text/css" rel="stylesheet" href="/static/css/home.css" />
{% endblock %}
{% block content %}
<div class="app-container">
	<div class="title-page">
		<h1 class="main-title">Nomad</h1>
		<form id="initial-inputs" action="/events" method="get" class="form-input">
			<label for="location">LOCATION</label>
		    <input id="location" type="text" name="location" placeholder="" required />
		    <label for="location">END TIME</label>
		    <input id="endtime" type="time" name="endtime" placeholder="" required />
		    <label for="travel">TRAVEL METHOD</label>
		    <input id="travel" type="text" name="travel" placeholder="" required />
		    <input type="submit" value="Explore" id="explore"/>
		</form>
	</div>
</div>
{% endblock %}