.modal {
  background-color: white; 
  width: 250px;
  min-height: 200px; 
  max-height: 400px;
  border-radius: 5px; 
  text-align: center; 
}

.modal img {
  width: 250px; 
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin:auto;
  margin-bottom: 10px; 

}

::-webkit-input-placeholder { 
  text-transform: uppercase; 
  letter-spacing: 2pt; 
}

::-moz-placeholder{ 
  text-transform: uppercase;
  letter-spacing: 2pt; 
}

:-ms-input-placeholder { 
  text-transform: uppercase; 
  letter-spacing: 2pt; 
}

:-moz-placeholder { 
  text-transform: uppercase; 
  letter-spacing: 2pt; 
}
.form-input{
    font-family: 'Helvetica', arial, sans;
    width: 500px;
    padding: 30px;
    background-color: black;
    margin: 50px auto;
}
input[type="text"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="time"],
input[type="url"],
input[type="password"],
textarea,
select 
{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    display: block;
    width: 100%;
    opacity: .6;
    padding: 7px;
    padding-left: 0; 
    border: none;
    border-bottom: 1px solid white;
    background: transparent;
    margin-bottom: 10px;
    font: 14px Helvetica, sans-serif;
    color: white; 
    height: 45px;
}

input:focus {
  opacity: 1; 
}
textarea{
    resize:none;
    overflow: hidden;
}
input[type="button"], 
input[type="submit"]{
    background-color: #7BCCC2;
    border: none; 
    display: inline-block;
    cursor: pointer;
    color: #FFFFFF;
    font-family: 'Helvetica', sans-serif;
    font-size: 14px;
    padding: 8px 18px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2pt; 
    font-weight: bold;
    border-radius: 5pt; 
    padding-left: 70px;
    padding-right: 70px; 
    opacity: .9; 
    margin-bottom: 30px; 
}

input[type="button"]:hover, 
input[type="submit"]:hover {
    opacity: 1; 
}

#travel {
  display: inline-block; 
  position: relative; 
  top: -5px; 
}

#travel img {
  width: 30px;
  padding-right: 10px;
  position: relative;
  top: 10px; 
}

.image {
    width: 25vw;
}

#toggle {
  width: 30px; 
  position: relative; 
  top: 4px; 
  float: right; 
}

* {
    padding: 0;
    margin: 0;
}
/*when there needs to be a thing in the background—image or map*/
#bg {
    width:100vw;
    height:100vh;
    position: fixed;
    z-index: 1;
    background-image: url(assets/background.jpg);
}

/*logo on landing page*/
#biggerlogo{
    width:85%;
    height:10%;
    position: relative;
    padding-right: 7.5%;
    padding-left: 7.5%;
    padding-top:20%;
    padding-bottom: 2.25%;
    text-align: center;
    z-index: 10;
}

#biggerlogo img {
    width: 100%;
}

/*landing page controls*/
#firstinput {
    width:90%;
    position: relative;
    margin-left: 5%;
    margin-top:25%;
    padding-bottom: 2.25%;
    text-align: center;
    z-index: 10;
}

/*to control spacing in controls*/
#firstinput .fields {
    padding-top:5%;
    display: block;
}

/*bar for logo + back button*/
#topbar {
    width:90%;
    height:2.5%;
    position: relative;
    padding-right: 5%;
    padding-left: 5%;
    padding-top:2.25%;
    padding-bottom: 2.25%;
    background-color: #7B5F80;
    text-align: center;
    z-index: 10;
}

#topbar img{
    height:100%;
    position: relative;
}

/*bar for when there are controls on top of events + maps*/
#topcontrols {
    width:90%;
    height: 10%;
    position: relative;
    padding-right: 5%;
    padding-left: 5%;
    padding-top:3.75%;
    padding-bottom: 1.25%;
    background-color: #7B5F80;
    z-index: 10;
}

/*editing location while top controls is up*/
#location{
    width:100%;
    display: inline-block;
    border-bottom: 1px #fff solid;
}

/*editing duration and transportation while top controls is up*/
#duration, #transportation {
    width:40%;
    margin-right:5%;
    position: relative; 
    top: -15px; 
    display: inline-block;
    border-bottom: 1px #fff solid;
}

#drag-1, #drag-2 {
  width: 25%;
  height: 100%;
  min-height: 6.5em;
  margin: 10%;

  background-color: #29e;
  color: white;

  border-radius: 0.75em;
  padding: 4%;

  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

#drag-me::before {
  content: "#" attr(id);
  font-weight: bold;
}

/*click to toggle preferences*/
#choices {
    width:10%;
    display: inline-block;
}

/*div to put carousel in*/
#carousal {
    position: relative;
    margin-top:5%;
    width: 100%;
    height:65%;
}

#map {
    position: relative;
    width: 200%;
    height:65%;
}

/*div for toggle interests*/
#interests {
    width:90%;
    height: 90%;
    position: relative;
    padding-right: 5%;
    padding-left: 5%;
    padding-top:2.25%;
    padding-bottom: 2.25%;
    background-color: #7B5F80;
    z-index: 10;
}

/*icons to toggle interests on and off*/
.gridding {
    float: left;
    width:33%;
    text-align: center;
}

.gridding img {
    width: 100%;
    padding-bottom: 5%;
    padding-top: 10%;
}

/*when interests are toggled off*/
.deselected {
    opacity: 0.3;
}

/*button at the bottom*/
#actionbutton {
    position:fixed;
    background-color: #7BCCC2;
    width:90%;
    height:6%;
    bottom: .2%; 
    left:5%;
    text-align: center;
    z-index: 10;
}

/*giving directions while in map*/
#directions {
    position:fixed;
    background-color: #7BCCC2;
    width:90%;
    height:15%;
    bottom:0%;
    padding-left:5%;
    padding-right:5%;
    text-align: center;
    z-index: 10;
}