@font-face {
    font-family: "Karton";
    src: url(/static/fonts/Karton.otf) format("truetype");
}

body {
font-family: 'Helvetica', arial, sans;
}

::-webkit-input-placeholder {
   color: white;
}

:-moz-placeholder { /* Firefox 18- */
   color: white;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: white;  
}

:-ms-input-placeholder {  
   color: white;  
}

h1 {
	margin-top: 0;
	padding-top: 50px;
}

.app-container {
	margin: 0;
	width:100vw;
	height:100vh;
	background-image: url(/static/img/background.jpg);
	background-size: cover;
}

.main-title {
	margin-left: 8px;
	color: white;
	font-family: 'Karton';
	letter-spacing: 14pt;
	font-size: 4.8rem;
	text-align: center;
}

#topcontrols {
	width:90%;
	height: 10%;
	position: relative;
	padding-right: 5%;
	padding-left: 5%;
	padding-top:2.25%;
	padding-bottom: 2.25%;
	background-color: #7B5F80;
	z-index: 10;
}

.form-input{
    font-family: 'Helvetica', arial, sans;
    width: 300px;
    padding: 5px;
    margin: 0 auto;
    margin-top: 60px;
}

.form-input label {
	color:white;
    font: 18px Helvetica, sans-serif;
    font-weight: thin;
    letter-spacing: 2pt;

}

.form-input input[type="text"],
.form-input input[type="date"],
.form-input input[type="datetime"],
.form-input input[type="email"],
.form-input input[type="number"],
.form-input input[type="search"],
.form-input input[type="time"],
.form-input input[type="url"],
.form-input input[type="password"],
.form-input textarea,
.form-input select 
{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    display: block;
    width: 100%;
    opacity: .6;
    padding: 7px;
    border: none;
    border-bottom: 1px solid white;
    background: transparent;
    margin-bottom: 60px;
    font: 18px Helvetica, sans-serif;
    color: white; 
    height: 45px;
}

.form-input input:focus {
  opacity: 1; 
}
.form-input textarea{
    resize:none;
    overflow: hidden;
}
.form-input input[type="button"], 
.form-input input[type="submit"]{
    -moz-box-shadow: inset 0px 1px 0px 0px #45D6D6;
    -webkit-box-shadow: inset 0px 1px 0px 0px #45D6D6;
    box-shadow: inset 0px 1px 0px 0px #45D6D6;
    background-color: #2CBBBB;
    border: 1px solid #27A0A0;
    display: inline-block;
    cursor: pointer;
    color: #FFFFFF;
    font-family: 'Helvetica', sans-serif;
    font-size: 14px;
    padding: 8px 18px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2pt; 
    font-weight: bold;
    border-radius: 10pt; 
    padding-left: 100px;
    padding-right: 100px; 
    opacity: .9; 
    margin-top: 80px;
    border-style: none;
    position:fixed;
	background-color: #7BCCC2;
	width:90%;
	height:6%;
	bottom:5%;
	left:3%;
	text-align: center;
	z-index: 10;
}
.form-input input[type="button"]:hover, 
.form-input input[type="submit"]:hover {
    background:linear-gradient(to bottom, #34CACA 5%, #30C9C9 100%);
    background-color:#34CACA;
    text-align: center;
    margin:0 auto;
    margin-top: 30px;
}